@using Candy_Shop.Utilities
@model List<Candy_Shop.Models.Zawartosc>

@{
    ViewData["Title"] = "Index";
}

<h1 class="bg-dark text-white p-2">SHOPPING CART</h1>

@if (Model.Count > 0)
{
  <table class="table table-bordered table-striped">
    <!-- Table headers -->
    <thead>
    <tr>
      @if (UserSession.isAdmin(Context.Session)) {
        <th>Username</th>
        <th>Chocolate ID</th>
      }
      <th>Chocolate name</th>
      <th>The amount of chocolates</th>
      <th>Actions</th>
    </tr>
    </thead>
    <!-- Table body -->
    <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <!-- Table data -->
        @if (UserSession.isAdmin(Context.Session)) {
          <td>@item.username</td>
          <td>@item.id_czekoladki</td>
        }
        <td>@Html.DisplayFor(modelItem => item.Czekoladka.nazwa)</td>
        <td>@Html.DisplayFor(modelItem => item.sztuk)</td>
        <td>
          <div class="d-flex">
            <!-- Delete form -->
            <form asp-action="Delete" asp-route-id="@item.id" method="post">
              <input type="submit" value="Delete" class="btn btn-danger btn-sm mr-1" />
            </form>
            <!-- Dodanie przerwy -->
            <div style="width: 10px;"></div>
            <!-- Edit link -->
            <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary btn-sm">Edit</a>
          </div>
        </td>

      </tr>
    }
    </tbody>
  </table>
}
else
{
    <div class="alert alert-info" role="alert">
        @ViewData["EmptyMessage"]
    </div>
}

@if (!UserSession.isAdmin(Context.Session)) { 
<!-- Add item button -->
<div class="d-inline-block">
  <a asp-action="Create" class="btn btn-primary btn-sm">Add Item</a>
</div>
<div class="d-inline-block ml-2"> <!-- Dodajemy margines dla odstępu między przyciskami -->
  <!-- Order button -->
  <form asp-action="Order" method="post">
    <button type="submit" class="btn btn-success btn-sm">Order</button>
  </form>
</div>
}

